<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <button type="button">Sign in</button>
</div>
<div>
    <button type="button">Sign up</button>
</div>
<div>
    <button type="button">Watch NFTs</button>
</div>
