<h1>{{title}}</h1>
<h2 style="color: red;">{{err}}</h2>
<form method="post">
    <label>Enter user name: </label><br>
    <input type="text" id="user_name" name="user_name" required><br>
    <label>Enter your wallet address</label><br>
    <input type="text" id="wallet_addr" name="wallet_addr" required><br>
    <label>Enter password</label><br>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Submit">
</form>